<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unicheck</title>
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sarabun">

</head>

<body>

    <div class="container-nav">
        <nav style="display: flex; width: 80%; height: 100%;">
            <img class="logo-img" src="static/image/Unicheck.png" alt="FITBotlogo">
            <div class="menubar">
                <ul>
                    <li><a href="home">Paraphrasing Tool</a></li>
                    <li><a href="grammar">Grammar Checker</a></li>
                    <li><a href="textcompletion">Text Completion</a></li>
                    <li><a href="plagiarism">Plagiarism</a></li>
                    <li><a href="dashboard">Dashboard</a></li>

                </ul>
            </div>
        </nav>
    </div>
    <div class="main-function">
        <!-- <h3>Online Writing Assistant Box</h3> -->
        <div class="box-container">

            <div class="wrapper-box">
                <form method="POST" action="{{ url_for('completion')}}">
                    <div class="wrapper-form " style="display: flex;">
                        <div style="position: relative; width: 50%;">
                            <textarea name="text" placeholder="Type something here...">{{ ori_text }}</textarea>
                            <button class="btn-para" type="submit" name="action" value="textcompletion" style="position: absolute;bottom: 30px; right: 0 ;padding: 3px 5px; background-color: #645501;
                                color: white; border-radius: 5px;        
                                ">Text Completion</button>
                        </div>
                        <textarea style="width: 50%;  margin-left: 30px;" name="text"
                            placeholder="">{{ res_text }}</textarea>

                    </div>

                </form>

            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Get Help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Writing Tools</h4>
                    <ul>
                        <li><a href="#">Grammar Check</a></li>
                        <li><a href="#">Plagiarism Check</a></li>
                        <li><a href="#">Text Completion</a></li>
                        <li><a href="#">Paraphrasing</a></li>
                    </ul>
                </div>

            </div>
        </div>
        </div>
    </footer>


</body>

</html>